<form action="/login" method="post">
  User:<br>
  <input type="text" name="user" value="Mia">
  <br>
  Password:<br>
  <input type="text" name="pass" value="Khalifa">
  <br><br>
  <input type="submit" value="Submit">
</form>
